<div id="container">
  <div class="form-wrap">
    <h1 class="heading">Add Meeting</h1>
    <p class="info">
      Enter the data for the person you met in the last 14 days
    </p>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" #firstName name="firstName" />
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" #lastName name="lastName" />
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" #date name="date" />
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" #location name="location" />
    </div>
    <button
      (click)="
        save(firstName.value, lastName.value, date.value, location.value)
      "
    >
      Save
    </button>
  </div>
</div>
